<p>
  this unique {% if product.metafields.handmaded == true %} handcrafted {% endif %} takchita 
  {{ product.metafields.technical_detail }} and made with original {{ product.options_by_name['Material'] }}
  
</p> 