<div class="block">
    <img src="{{ section.settings.image | image_url}}"
        data-speed="-1" class="img-parallax">
  
    <div class="container text-center positionImagetxt">
        <h2>New <br>in women</h2>
        <a href=""> Discover</a>
    </div>
  
</div>

{% schema %}
{
"name": "Text Box",
"settings": [
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image"
  },
  {
   	"id": "text_title",
    "type": "text",
    "label": "Text box heading",
    "default": "New <br>in women"
  },
  {
    "id": "href_lien",
    "type": "url",
    "label": "Add custom text below"
    
  },
  {
    "id": "text_lien",
    "type": "text",
    "label": "Add custom text below",
    "default": "Discover"
  }
],
"presets": [
  {
  "name": "custom-text",
  "category": "Custom"
  }
]
}
{% endschema %}