@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}

.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.Icon--select-arrow {
display:none !important;
}

@media (max-width: 600px){
  
  .pm-mobile{

  font-size: 17px !important;
  text-transform: capitalize;
  letter-spacing: .2em;
  
}
}

.Footer__Block p{
   font-size: 13px !important;
  
}


.u-h4, .Rte h4

{ 
  font-family: "WulkanDisplay-Black"!important;
  font-size:18px !important;
  letter-spacing:16px !important;


}

.u-h6, .Rte h6{
font-family: "Metropolis-SemiBold"!important;
  font-size:10px !important;
  font-weight:600;

}

.Linklist li a {
  color:#9b9b9b !important;
  text-transform: capitalize !important;

}
.Footer__Content p{
  color:#9b9b9b !important;
  text-transform: capitalize !important;
}

.Footer__Aside{
border-top:1px solid #333;
  
}

.Footer__FlexItem{
  text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
  
.Footer__LogoLink span{
 
  color:#fff !important;
}

@media (min-width:1400px) and (max-width:1762px) {

  .container{
  padding:0 35px !important;
  }
  .Footer__Block--text{
    flex-basis: 327px !important;
  }
  
  .Footer__Block{
  
    padding-left:40px !important;
  }
  
}
/*
.SectionHeader__Description{
font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 60rem;
    bottom: 40%;
}

.SectionHeader__Description p {
margin-bottom:0;
}
.parallax-text{
  font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 40rem;
    bottom: 40%;
  
}
*/

p, h2 {
  font-family: "Poiret One", "Roboto Slab", serif;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("https://images.unsplash.com/photo-1458640904116-093b74971de9?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700");
}
section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/photo-1451906278231-17b8ff0a8880?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700");
}
section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/photo-1437652010333-fbf2cd02a4f8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9de65fa9bbcbd2401f3cb9cc3c8cf582");
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
   -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
     -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}
