@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}

.ProductForm__Variants: > .ProductForm__Option {

display:none !important;
}

