@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}

.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.Icon--select-arrow {
display:none !important;
}

@media (max-width: 600px){
  
  .pm-mobile{

  font-size: 17px !important;
  text-transform: capitalize;
  letter-spacing: .2em;
  
}
}

.Footer__Block p{
   font-size: 13px !important;
  
}


.u-h4, .Rte h4

{ 
  font-family: "WulkanDisplay-Black"!important;
  font-size:18px !important;
  letter-spacing:16px !important;


}

.u-h6, .Rte h6{
font-family: "Metropolis-SemiBold"!important;
  font-size:10px !important;
  font-weight:600;

}

.Linklist li a {
  color:#9b9b9b !important;
  text-transform: capitalize !important;

}
.Footer__Content p{
  color:#9b9b9b !important;
  text-transform: capitalize !important;
}

.Footer__Aside{
border-top:1px solid #333;
  
}

.Footer__FlexItem{
  text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
  
.Footer__LogoLink span{
 
  color:#fff !important;
}

@media (min-width:1400px) and (max-width:1762px) {

  .container{
  padding:0 35px !important;
  }
  .Footer__Block--text{
    flex-basis: 327px !important;
  }
  
  .Footer__Block{
  
    padding-left:40px !important;
  }
  
}
/*
.SectionHeader__Description{
font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 60rem;
    bottom: 40%;
}

.SectionHeader__Description p {
margin-bottom:0;
}
.parallax-text{
  font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 40rem;
    bottom: 40%;
  
}
*/


p, h2 {
  font-family: "Poiret One", "Roboto Slab", serif;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: #000;
  font-size: 48px;
  line-height: 110px;
  font-weight: 700;

}
section.module.parallax-1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6374nb_2x1_e3c39b70-30a6-41ac-8e14-fb9535e0e5f9.jpg?v=1654528597");
}
section.module.parallax-2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6396_2x1_3a57e6a5-e08a-47df-96c6-e94f3b656ad6.jpg?v=1654528597");
}
section.module.parallax-3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6448_2x1_2622cc2e-e624-4a28-9e4f-b421c4683196.jpg?v=1654528597");
}
section.module.parallax-4 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6013_2x1_a5f95777-6eb6-45d9-977a-6cc09a63d1f0.jpg?v=1654528597");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
 
  section.module.parallax h1 {
   font-size: 60pt;
    margin-top: 0;
    text-align: left;
    font-family: 'WulkanDisplay-SemiBold';
        letter-spacing: 4px;
        padding-top: 60px;
}
  


.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
   -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
     -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}



/*nghjh*/


.img-star{
  width: 110px;
    height: 56px;
}

.item-icon{
  width:16px;}



/* oualid */



/* Page Loader */
/* .js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
} */

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
/* 
a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	outline: none;
}

[data-scroll] {
	will-change: transform;
}

.frame {
	padding: 2.5rem 3rem;
	position: absolute;
	z-index: 10;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 2.5rem;
}

.frame__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.frame a {
	margin: 0.25rem 0;
	text-transform: lowercase;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
} */

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding: 12rem 0;
	counter-reset: figure; 
}

.item {
	/* margin: 10vh auto; */
	margin: 0vh auto;
	max-width: 100%;
	position: relative;
	will-change: transform;
}

/* .item::before {
	counter-increment: figure;
	content: counter(figure, decimal-leading-zero);
	position: absolute;
	font-family: paralucent, sans-serif;
	font-size: 10rem;
	color: var(--color-deco);
	bottom: calc(100% - 3rem);
} */

.item:nth-child(even)::before {
	right: 0;
}

.item__img-wrap {
	--aspect-ratio: 1/1.5;
	overflow: hidden;
	width: 500px;
	margin: 0 auto;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	max-width: calc(100%);
	will-change: transform;
}

/* .item:first-child .item__img-wrap {
	--aspect-ratio: 8/10;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/1.jpg);
} */
.item:first-child .item__img-wrap {
	width: calc(100vw );
	--aspect-ratio: 1500/844;
	--image: url(https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6374nb_2x1_e3c39b70-30a6-41ac-8e14-fb9535e0e5f9.jpg?v=1654528597);
}

.item:nth-child(2) .item__img-wrap {
	width: calc(100vw );
	--aspect-ratio: 1500/844;
	--image: url(https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6396_2x1_3a57e6a5-e08a-47df-96c6-e94f3b656ad6.jpg?v=1654528597);
}

.item:nth-child(3) .item__img-wrap {
	width: calc(100vw);
	--aspect-ratio: 1500/844;
	--image: url(https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6448_2x1_2622cc2e-e624-4a28-9e4f-b421c4683196.jpg?v=1654528597);
}

.item:nth-child(4) .item__img-wrap {
	width: calc(100vw );
	--aspect-ratio: 1500/844;
	--image: url(https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6013_2x1_a5f95777-6eb6-45d9-977a-6cc09a63d1f0.jpg?v=1654528597);
}
.item:last-child {
	margin-bottom: 500px;
}

/* .item:nth-child(2) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/2.jpg);
}

.item:nth-child(3) .item__img-wrap {
	--aspect-ratio: 60/75;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/3.jpg);
}

.item:nth-child(4) .item__img-wrap {
	width: 800px;
	--aspect-ratio: 900/505;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/4.jpg);
} */

.item:nth-child(5) .item__img-wrap {
	--aspect-ratio: 6/8;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/5.jpg);
}

.item:nth-child(6) .item__img-wrap {
	width: calc(100vw - 2rem);
	--aspect-ratio: 1500/844;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/6.jpg);
}

.item:nth-child(7) .item__img-wrap {
	width: 900px;
	--aspect-ratio: 1000/749;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/7.jpg);
}

.item:nth-child(8) .item__img-wrap {
	width: 900px;
	--aspect-ratio: 1000/562;
	--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/8.jpg);
}



.item__img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}

.item__img--t1 {
	--overflow: 60px;
}

.item__img--t2 {
	--overflow: 80px;
}

.item__img--t3 {
	--overflow: 120px;
}

.item__caption {
	padding: 2rem 1rem;
}

.item__caption-title {
	font-family: paralucent, sans-serif;
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.item__caption-copy {
	margin: 0;
}

.item__caption-copy::before {
	content: '__';
	line-height: 1;
	/* color: var(--color-link); */
	font-weight: 700;
	font-size: 3rem;
	margin: 0 0 1rem;
	display: block;
}


/* 

    position: fixed;
    width: 100%;
    z-index: 2;
    bottom: 0;
	
*/

      #shopify-section-footer{
        position: fixed;
        width: 100%;
        z-index: 2;
        bottom: 0;
      }
      
      #main{
        
        z-index: 100;
      
      }