@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}

.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.Icon--select-arrow {
display:none !important;
}

@media (max-width: 600px){
  
  .pm-mobile{

  font-size: 17px !important;
  text-transform: capitalize;
  letter-spacing: .2em;
  
}
}

.Footer__Block p{
   font-size: 13px !important;
  
}



.u-h6, .Rte h6{
font-family: "Metropolis-SemiBold"!important;
  font-size:10px !important;
  font-weight:600;

}

.Linklist li a {
  color:#9b9b9b !important;
  text-transform: capitalize !important;

}
.Footer__Content p{
  color:#9b9b9b !important;
  text-transform: capitalize !important;
}

.Footer__Aside{
border-top:1px solid #333;
  
}

.Footer__FlexItem{
  text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
  
.Footer__LogoLink span{
 
  color:#fff !important;
}

@media (min-width:1400px) and (max-width:1762px) {

  .container{
  padding:0 35px !important;
  }
  .Footer__Block--text{
    flex-basis: 327px !important;
  }
  
  .Footer__Block{
  
    padding-left:40px !important;
  }
  
}
/*
.SectionHeader__Description{
font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 60rem;
    bottom: 40%;
}

.SectionHeader__Description p {
margin-bottom:0;
}
.parallax-text{
  font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 40rem;
    bottom: 40%;
  
}
*/


p, h2 {
  font-family: "Poiret One", "Roboto Slab", serif;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: #000;
  font-size: 48px;
  line-height: 110px;
  font-weight: 700;

}
section.module.parallax-1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6374nb_2x1_e3c39b70-30a6-41ac-8e14-fb9535e0e5f9.jpg?v=1654528597");
}
section.module.parallax-2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6396_2x1_3a57e6a5-e08a-47df-96c6-e94f3b656ad6.jpg?v=1654528597");
}
section.module.parallax-3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6448_2x1_2622cc2e-e624-4a28-9e4f-b421c4683196.jpg?v=1654528597");
}
section.module.parallax-4 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6013_2x1_a5f95777-6eb6-45d9-977a-6cc09a63d1f0.jpg?v=1654528597");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
 

  .positionImagetxt h2 {
   font-size: 60pt;
    margin-top: 0;
    text-align: left;
    font-family: 'WulkanDisplay-SemiBold';
        letter-spacing: 4px;
        padding-top: 60px;
    color:#000 !important;
    margin-bottom:0;
}
  


.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
   -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
     -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-header{
  
  position: relative;

}

.modal-header .close{

    position: absolute;
    right: 0;
    bottom: 6%;
}



/*nghjh*/


.img-star{
  width: 110px;
    height: 56px;
}

.item-icon{
  width:16px;

}

.hidden-phone-1 .Icon{

  width:22px;
  height:22px;
  
}


.hidden-phone .Icon{

  width:19px;
  height:18px;
  
}
.HorizontalList--spacingLoose .HorizontalList__Item{

 margin-right: 10px;
    margin-left: 10px;

}


.NewsletterPopup__Heading{

 color:#000 !important;
  font-size:13px !important;

}

.NewsletterPopup__Content p{

color:#000 !important;
}

.Form__Input{

  border:1px solid !important;
  border-bottom-color:#000 !important; 

}


.Form__Input::placeholder{

  color:#000 !important;
}

.Form__Submit:before{

  background-color:#000 !important;
}

.Form__Submit{

  color:#fff !important;
}

.Form__Submit:hover{

  color:#000 !important;
  border:1px solid #000 !important;
}

.NewsletterPopup__Close{
  color:#000;
}

.Header__Logo a img{

  width:100%;
  height:100%;

  
}


.positionImagetxt a {
     font-size: 24pt;
     margin-top: 0;
     font-family: 'WulkanDisplay-SemiBold';
     color:#000 !important;
     text-transform: uppercase;
     text-decoration-color: #000;
}

.positionImagetxt a:not(.Button){
      text-decoration-color: #000;
}

.control .is-horizontal{

  display:flex;

}


.language-curr{

  width:30% !important;

}

.language-curr .modal-title{

  color:#000;
  text-align: center;
  text-transform: uppercase;
  font-family: 'WulkanDisplay-SemiBold';
  font-size: 22px;
}

.modal-btn-g{

  border:none;
}

.modal-title{

  margin-bottom: 15px;

}

.form-group label{

  font-size: 14px;
    font-family: "Metropolis-SemiBold"!important;
      color: #9d9d9d;
}




.header-left{

   display: block !important;
   padding-top: 25px !important;
}

.lang-curren{

  color: #000;
    font-size: 13px;
    font-weight: 800;
}

.currency-selector{

  padding-bottom: 31px; !!important;
    padding-top: 20px !important;
}

.lang-selector{

  padding-bottom: 31px; !!important;
    padding-top: 20px !important;
}

.Select--transparent select {
    
  border-bottom: 1px solid #000;
    padding: 3px 87px;
  font-size:15px;
  font-family: 'WulkanDisplay-SemiBold';
}
  

button.Form__Submit.Button.Button--primary.Button--full.modal-btn {

  width: 50% !important;
    margin-left: auto !important  ;
    margin-right: auto !important;
    margin-top: 0px !important;
}


