@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
}