@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}



.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.ProductForm__OptionCount svg {
display:none !important;
}