@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
	display:flex;
  	margin-top:20px;
  	border-top: 1px solid #f2f2f2;
}

.SizeSelection-sizeGuideLinkText-1{
color:#6c6c6c;
   position: relative;
       left: 289px;
    top: 30px;
  z-index:150;
}

.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.Icon--select-arrow {
display:none !important;
}

@media (max-width: 600px){
  
  .pm-mobile{

  font-size: 17px !important;
  text-transform: capitalize;
  letter-spacing: .2em;
  
}
}

.Footer__Block p{
   font-size: 16px !important;
  font-family: 'Metropolis-SemiBold' !important;
  
}



.u-h6, .Rte h6{
font-family: "Metropolis-SemiBold"!important;
  font-size:10px !important;
  font-weight:600;

}

.Linklist li a {
  color:#9b9b9b !important;
  text-transform: capitalize !important;

}
.Footer__Content p{
  color:#9b9b9b !important;
  text-transform: capitalize !important;
}

.Footer__Aside{
border-top:1px solid #333;
  
}

.Footer__FlexItem{
  text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
  
.Footer__LogoLink span{
 
  color:#fff !important;
  font-size: 26px;
  font-family: 'WulkanDisplay-Black';
}

@media (min-width:1400px) and (max-width:1762px) {

  .container{
  padding:0 35px !important;
  }
  .Footer__Block--text{
    flex-basis: 327px !important;
  }
  
  .Footer__Block{
  
    padding-left:40px !important;
  }
  
}
/*
.SectionHeader__Description{
font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 60rem;
    bottom: 40%;
}

.SectionHeader__Description p {
margin-bottom:0;
}
.parallax-text{
  font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 40rem;
    bottom: 40%;
  
}
*/


p, h2 {
  font-family: "Poiret One", "Roboto Slab", serif;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: #000;
  font-size: 48px;
  line-height: 110px;
  font-weight: 700;

}
section.module.parallax-1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6374nb_2x1_e3c39b70-30a6-41ac-8e14-fb9535e0e5f9.jpg?v=1654528597");
}
section.module.parallax-2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6396_2x1_3a57e6a5-e08a-47df-96c6-e94f3b656ad6.jpg?v=1654528597");
}
section.module.parallax-3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6448_2x1_2622cc2e-e624-4a28-9e4f-b421c4683196.jpg?v=1654528597");
}
section.module.parallax-4 {
  background-image: url("https://cdn.shopify.com/s/files/1/0553/5226/2725/files/PQ0A6013_2x1_a5f95777-6eb6-45d9-977a-6cc09a63d1f0.jpg?v=1654528597");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
 

.positionImagetxt h2 {
   font-size: 100px;
    margin-top: 0;
    text-align: left;
    font-family: 'WulkanDisplay-SemiBold';
    letter-spacing: 0px;
    padding-top: 60px;
    color: #000;
    margin-bottom: 0;
    line-height: 100px;
    letter-spacing : 6px;
    margin-bottom: 20px;
}
  


.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
   -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
     -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-header{
  
  position: relative;

}

.modal-header .close{

    position: absolute;
    right: 0;
    bottom: 6%;
}



/*nghjh*/


.img-star{
  width: 110px;
    height: 56px;
}

.item-icon{
  width:16px;

}

.hidden-phone-1 .Icon{

  width:22px;
  height:22px;
  
}

.trust-img{

    z-index: 1000;
    position: absolute !important;
    width: 18% !important;
    height: 7% !important;
    top: 1% !important;
    left: 79% !important;
    opacity: 0.4;
  display: none;
}

.hidden-phone .Icon{

  width:19px;
  height:18px;
  
}
.HorizontalList--spacingLoose .HorizontalList__Item{

 margin-right: 10px;
    margin-left: 10px;

}


.NewsletterPopup__Heading{

 color:#000 !important;
  font-size:13px !important;

}

.NewsletterPopup__Content p{

color:#000 !important;
}

.Form__Input{

  border:1px solid !important;
  border-bottom-color:#000 !important; 

}


.Form__Input::placeholder{

  color:#000 !important;
}

.Form__Submit:before{

  background-color:#000 !important;
}

.Form__Submit{

  color:#fff !important;
}

.Form__Submit:hover{

  color:#000 !important;
  border:1px solid #000 !important;
}

.NewsletterPopup__Close{
  color:#000;
}

.Header__Logo a img{

  width:100%;
  height:100%;

  
}


.positionImagetxt a {
     font-size: 24pt;
     margin-top: 0;
     font-family: 'WulkanDisplay-SemiBold';
     color:#000 !important;
     text-transform: uppercase;
     text-decoration-color: #000;
}

.positionImagetxt a:not(.Button){
      text-decoration-color: #000;
}

.control .is-horizontal{

  display:flex;

}


.language-curr{

  width:30% !important;

}

.language-curr .modal-title{

  color:#000;
  text-align: center;
  text-transform: uppercase;
  font-family: 'WulkanDisplay-SemiBold';
  font-size: 22px;
}

.modal-btn-g{

  border:none;
}

.modal-title{

  margin-bottom: 15px;

}

.form-group label{

  font-size: 14px;
    font-family: "Metropolis-SemiBold"!important;
      color: #9d9d9d;
}




.header-left{

   display: block !important;
   padding-top: 25px !important;
}

.lang-curren{

  color: #000;
    font-size: 13px;
    font-weight: 800;
}

.currency-selector{

  padding-bottom: 31px; !!important;
    padding-top: 20px !important;
}

.lang-selector{

  padding-bottom: 31px; !!important;
    padding-top: 20px !important;
}

.Select--transparent select {
    
  border-bottom: 1px solid #000;
    padding: 3px 87px;
  font-size:15px;
  font-family: 'WulkanDisplay-SemiBold';
}
  

button.Form__Submit.Button.Button--primary.Button--full.modal-btn {

  width: 50% !important;
    margin-left: auto !important  ;
    margin-right: auto !important;
    margin-top: 0px !important;
}


.span-1{

  color:#9d9d9d !important;
  font-family: 'Metropolis-SemiBold' !important;
  
}

.modal-btn-g{

  position: absolute;
  left: 150px;
  font-family: 'Metropolis-SemiBold' !important;
}

.positionImagetxt{
  position:absolute;
  top:10%;
  left:0;
  text-align:left;
}


.Footer__Copyright {
    justify-items: center !important;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 50px;
}
ul.Footer__Social.HorizontalList.HorizontalList--spacingLoose {
    display: flex;
    position: unset !important; 
   	right: unset !important; 
    justify-content: center;
}

.modal-btn-g {
    position: relative !important; 
  	left: unset !important;
}
.Footer__Aside {
    display: block!important;
    justify-content: center!important;
}

html {
  overflow-x: hidden;
}

.Footer__Inner *{
  
  font-size:16px !important;
  font-family: 'Metropolis-SemiBold' !important;
}

.Footer__Inner .u-h6{

  font-size:17px !important;
  font-family: 'Metropolis-SemiBold' !important;

}
.flickity-enabled{

  padding-bottom:40px;

}


.shopify-payment-button__button{
  
  border-color: #000000;
 
}

.shopify-payment-button__button:before{
    background-color: #000000;
}
  

.shopify-payment-button__button--unbranded:not([disabled]):hover{
    color: #000000;
}
  
.Button--secondary:not([disabled]):hover{
    border-color: #000000;
}

.Button--secondary:before{
 background-color: #000000;
}

.ProductMeta .ProductMeta__Title{

  font-size: 18px !important;
  font-family: 'Metropolis-SemiBold' !important;
  
}
.ProductMeta__Price {
font-family: 'Metropolis-SemiBold' !important;
  
}




/* -- Swatches Styles for Pipeline 4x -- */

{% assign width = '50px' %}
{% assign height = '35px' %}
.swatch { 
  margin:1em 0; 
}
/* Label */
.swatch .header {
  margin: 0.5em 0;
// text-align:center;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: bold;  
}

/* Hide radio buttons.*/
.swatch input { 
  display:none;
}
.swatch label {
  /* Rounded corners */
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  /* To give width and height */
  float:left;
  /* Color swatches contain no text so they need to have a width. */
  min-width:{{ width }} !important; 
  height:{{ height }} !important;
  /* No extra spacing between them */
  margin:0;
  /* The border when the button is not selected */
  border:#ccc 1px solid;
  /* Background color */
  background-color:#ddd;
  /* Styling text */
  font-size:13px;
  text-align:center;
  line-height:{{ height }};
  white-space:nowrap;
  text-transform:uppercase;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label {
  padding:0; 
  width: 30px;
  height: 30px;

}
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  box-shadow:0px 1px 2px rgba(0,0,0,0.8);
  border-color:transparent;
} 
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin:0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
//  bottom:100%;
  top: -70px;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
 display:none;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
     -moz-transform:translateY(0px);
      -ms-transform:translateY(0px);
       -o-transform:translateY(0px);
          transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}


/* - end swatch styles - */

.globo-swatch-product-detail .swatch--gl li .globo-style--button{

      padding: 9px 17px !important;

}

.name-option{

  display:none !important;
}

.swatch--gl:has([data-name="Material"]) 

{
  display:none !important;

} 

.globo-detail-style-circle{

      border-radius: 7% !important;

}