@media screen and (max-width: 600px) {

  .Footer__Aside{
   display:none !important;
    
  
  
   }
  
}

@media screen and (min-width: 1240px) {
  .Product__Gallery {
    margin-bottom: 13px !important; }
  }

.Product__ShareList__block{
  text-align:center;
}

.SizeSelection-header{
display:flex;
  margin-top:20px;
      border-top: 1px solid #f2f2f2;
    padding-top: 20px;

}

.SizeSelection-sizeGuideLinkText{
color:#c2a284;

}

.trust-payement-badges{
  margin-top: 5px;
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linklist_subitem {

    padding-inline: 17px !important;
    font-size: smaller;
}

.ProductForm__OptionCount{
display:none !important;
}

.Icon--select-arrow {
display:none !important;
}

@media (max-width: 600px){
  
  .pm-mobile{

  font-size: 17px !important;
  text-transform: capitalize;
  letter-spacing: .2em;
  
}
}

.Footer__Block p{
   font-size: 13px !important;
  
}


.u-h4, .Rte h4

{ 
  font-family: "WulkanDisplay-Black"!important;
  font-size:18px !important;
  letter-spacing:16px !important;


}

.u-h6, .Rte h6{
font-family: "Metropolis-SemiBold"!important;
  font-size:10px !important;
  font-weight:600;

}

.Linklist li a {
  color:#9b9b9b !important;
  text-transform: capitalize !important;

}
.Footer__Content p{
  color:#9b9b9b !important;
  text-transform: capitalize !important;
}

.Footer__Aside{
border-top:1px solid #333;
  
}

.Footer__FlexItem{
  text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
  
.Footer__LogoLink span{
 
  color:#fff !important;
}

@media (min-width:1400px) and (max-width:1762px) {

  .container{
  padding:0 35px !important;
  }
  .Footer__Block--text{
    flex-basis: 327px !important;
  }
  
  .Footer__Block{
  
    padding-left:40px !important;
  }
  
}
 
.SectionHeader__Description{
font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 63rem;
    bottom: 40%;
}

.SectionHeader__Description p {
margin-bottom:0;
}
.parallax-text{
  font-size: 60pt;
    font-family: 'WulkanDisplay-SemiBold';
    color: #000;
    text-transform: uppercase;
  position: absolute;
    right: 40rem;
    bottom: 40%;
  
}